
    <div id="homepage" class="clear">
      <div class="fl_left">
        <h2 class="title">Registration</h2>
        <div id="hpage_quicklinks">
	
          <div id='cssmenu'>
<ul>
   <li ><a href="register.html#register" id="register"><span>Register</span></a></li>
   <li ><a href="fees.html#fees" id="fees"><span>Fee Structure</span></a></li>
   <li  class="active"><a href="accomodation.html#accomodation" id="accomodation"><span>Accommodation</span></a></li>
   <li class="last"><a href="venue.html#venue" id="venue"><span>Venue</span></a></li>


</ul>
</div>
<div style="clear:both; margin: 0 0 30px 0;">&nbsp;</div>
        </div>
        
         
    </div>
      <!-- ############### -->
      <div class="fl_right">
        <h2 class="title">Accommodation</h2>
        <div id="hpage_latestnews">
<p><b>TBA</b></p>

        </div>

        </div>
      </div>
