<p class="md-headline"> Contact Us: </p>
<p class="md-body-2">
    Thank you for your interest in IIITH-MUN’16. We are happy to help you with any questions relating to our conference. We look forward to hearing from you!
</p>
<div layout="row" layout-align="center">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Prateek Jain</span>
                <span class="md-subhead">Secretary General</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="column" layout-align="end center">
            <md-button>prateek.jain.cura@gmail.com</md-button>
            <md-button>9581528077</md-button>
        </md-card-actions>
    </md-card>
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Rohan bhatial</span>
                <span class="md-subhead">Director General</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="column" layout-align="end center">
            <md-button>Rohan.bhatial.cura@gmail.com</md-button>
            <md-button>8179749049</md-button>
        </md-card-actions>
    </md-card>
</div>

<div id="respond">

    <form action="https://felicity.iiit.ac.in/iiithmun/send_email.php" method="post">
    <md-content md-theme="docs-dark" layout-align="center center">
        <span class="md-headline">Queries</span>
        <div layout-gt-sm="row" flex="600" class="md-block">
            <md-input-container>
                <label>Title</label>
                <input>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email">
            </md-input-container>
            <md-input-container>
                <label>Subject</label>
                <input type="text">
            </md-input-container>
        </div>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea rows="2"></textarea>
        </md-input-container>
        <input class="md-button" name="submit" type="submit" id="submit" value="Submit Form" />
        &nbsp;
        <input class="md-button" name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
    </md-content>
</form>
</div>