
      <div class="fl_right">
        <h2 class="title">Fee Structure</h2>
        <div id="hpage_latestnews">
<p>Participation fee for individual delegate is Rs. 750/-</p><p>Participation fee includes workshop on MUN, entry to Opening Ceremony, entry to 3 Social Nights and 3 days of conference.</p>
<br/> <!--h1>Payment Options:</h1>
   <p>Payments can be done through cheque, demand draft or online transfer. <br/><br/>

Make the cheuque / demand draft in favour of Prateek Jain.<br/>
Account no. - 52207864370 .<br/>
You can send the cheque / demand draft to the following address -<br/> Prateek Jain 201230135 <br/> E-122, Palash Niwas <br/>IIIT-Hyderabad<br/> Gachibowli - 500032.<br/>
Mention your details behind the check/dd.<br/><br/>

Online Transfer can be done to the following account -<br/> 
Account no. - 52207864370.<br/>
Name of the Account holder - Prateek Jain.<br/>
IFSC Code - SBHY0021161.<br/><br/>

After transferring the payment online, send in a mail to iiithmunpayments@gmail.com with the UTR no. of the transaction along with your details.<br/>
Collective payments can be done for a delegation in which case the discounted rates will apply according to the fees structure given on the website.</p-->
        </div>

        </div>
