
        <h2 class="title">News Feed</h2>
        <div id="hpage_latestnews">
            <ul>


           <li>
			
		<table>		
                    <td style="width:50%;border:0px;">
					<div ><a href="https://docs.google.com/forms/d/1KemUOoaJairf9DpxemaeoBr4sWWApYNwwMbjg50nFb4/viewform" target="_blank"><img src="images/poster3.jpg" width="35%" height="35%"; alt="Delegate Fees" style="margin-left:300px"></a></div>
				</td>
			</tr>
	      </table><br/><br/><br/>
            </li>
    <li>
			
				<td style="width:50%;border:0px;">
					<p style="font-size:20px;"><i>Delegate Registrations are open now.</i></p><br/>
					<p class="readmore"><a href="https://docs.google.com/forms/d/1KemUOoaJairf9DpxemaeoBr4sWWApYNwwMbjg50nFb4/viewform" target="_blank">Register Now&raquo;</a></p>
				</td>
                    <!--td style="width:40%;border:0px;"-->
					<div ><a href="https://docs.google.com/forms/d/1KemUOoaJairf9DpxemaeoBr4sWWApYNwwMbjg50nFb4/viewform" target="_blank"><img src="images/Delegate_2015.jpg" width="60%" height="60%"; alt="iiithmun eb applications;" style="margin-left:200px"></a></div>
				<!--/td-->
			</tr>
	      </table>
            </li>

          </ul>
        </div>
        
      </div>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- span class='st_fblike_hcount' displayText='Facebook Like'></span> <span class='st_plusone_hcount' displayText='Google +1'></span> <span class='st_twitterfollow_hcount' displayText='Twitter Follow' st_username='IIITHMUN'></span> -->
<!-- ####################################################################################################### -->
<meta itemprop="startDate" content="2013-10-18">

<meta itemprop="name" content="IIIT Hyderabad"></span>
<meta itemprop="url" content="http://iiithmun.curaevents.com">
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left" style="padding-left:460px;">Copyright &copy; 2013 - Cura Events</p>
   <p class="fl_right" style="padding-right:30px;"> <a href="terms.html">Terms & Conditions </a>| <a href="policy.html">Privacy Policy</a></p></a>
  </div>
</div>
<script type="text/javascript">$('.slidedeck').slidedeck();</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57607777-1', 'auto');
  ga('send', 'pageview');


</script>
</body>
</html>
