
    <h1 class="title" style="font-size:24px;S">Privacy Policy</h1>
    
Cura is committed to protecting and respecting your privacy.<br/>  <br/>

This policy (together with our terms of use and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.<br/><br/>

Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.<br/><br/><br/>

<u><b>Information We May Collect From You</b></u>
<p>
We only collect personal information from you when you voluntarily submit it. This may be when you request services, complete a survey or if you report a problem with our site. If you contact us, we may keep a record of that correspondence.<br/>

We may also collect details of your visits to our site including, but not limited to, traffic data, location data, logs and other communication data, and the resources that you access.<br/>
</p><br/>

<u><b>IP Address and Cookies  </b></u>
<p>
We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.<br/>

For the same reason, we may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. They help us to improve our site and to deliver a better and more personalised service. They enable us:<br/>
<ul>
  <li>  To estimate our audience size and usage pattern;</li>  
 <li>     To store information about your preferences, and so allow us to customise our site according to your individual interests;</li>  
  <li>    To speed up your searches; and,</li>  
    <li>  To recognise you when you return to our site.</li>  
</ul><br/>
You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts of our site. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our site.<br/>
</p><br/>

<u><b>Use Made of the Information</b></u>
<p>
We use information held about you in the following ways:<br/>
<ul>
  <li>  To ensure that content from our site is presented in the most effective manner for you and for your computer;  </li>
  <li>    To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes; and,  </li>
     <li> To carry out our obligations arising from any contracts entered into between you and us.  </li>
    </ul>
</p><br/><br/>
<u><b>Changes to Our Privacy Policy</b></u>
<p>
Any changes we may make to our privacy policy in the future will be posted on this page.
    </p>
