
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left" style="padding-left:460px;">Copyright &copy; 2013 - Cura Events</p>
     <p class="fl_right" style="padding-right:30px;"> <a href="terms.html">Terms & Conditions </a>| <a href="policy.html">Privacy Policy</a></p></a>
  </div>
</div> 
