<h1 class="title" style="font-size:32px;text-transform:none;text-align:center;">Schedule</h2>
<p>
<b style="font-size:23px;text-align:center;">IIIT-Hyderabad MUN to take place in 20th-22nd February</b>
<br/>
</p>
<div layout-align="center">
<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"><b>20 Feb</b></span>
            </md-card-title-text>
        </md-card-title>
<p>
Opening Ceremony : 10 am - 12 noon<br/>
Introductory session : 12 noon - 2 pm<br/>
First Committee session : 3 pm - 6 pm<br/>
</p>
</md-card>
<p>
<b>21 Feb</b><br/>
Second session : 10 am - 1 pm<br/>
Third Session : 2 pm - 5 pm<br/>
Social Night 1 : 7 pm onwards<br/>
</p>
<p>
<b>22 Feb</b><br/>
Fourth Session : 10 am - 1 pm<br/>
Fifth Session : 2 pm - 5 pm<br/>
Social Night 2 : 7 pm onwards<br/>
</p>
</div>
